### Intellij & Pycharm
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/suny485.iml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/*
*/.idea/vcs.xml
*/.idea/workspace.xml

### macOS template
# General
.DS_Store
.AppleDouble
.LSOverride

### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pytest_cache/
!/suny485/.idea/
!/suny485/.idea/vcs.xml
/suny485/.idea/vcs.xml
